@model UserDashboardViewmodel
@inject TenantContext tenant
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="box">
                <hgroup>
                    <img class="h2group" src="~/images/@(tenant.Id)_logo.png" />
                    <h2>@(tenant.Name)</h2>
                    <h3>Accountbeheer</h3>
                </hgroup>
                <p style="margin : 0">Welkom @Model.FirstName @Model.LastName</p>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-7-12">
            <div class="box">
                <hgroup>
                    <h3>Profielgegevens</h3>
                </hgroup>
                <form asp-action="SaveProfile" method="post" class="small">
                    <p>Verplichte velden</p>
                    @for (int i = 0; i < Model.Required.Count; i++)
                    {
                        <div class="inputbox">
                            @Html.TextBox("Required[" + i + "].Value", Model.Required[i].Value, new { placeholder = Model.Required[i].DisplayName })
                            <label>@Model.Required[i].DisplayName <span>*</span></label>
                        </div>
                        @Html.Hidden("Required[" + i + "].ClaimType", Model.Required[i].ClaimType)
                        @Html.Hidden("Required[" + i + "].DisplayName", Model.Required[i].DisplayName)
                    }

                    <p>Optionele velden</p>
                    @for (int i = 0; i < Model.Optional.Count; i++)
                    {
                        <div class="inputbox">
                            @Html.TextBox("Optional[" + i + "].Value", Model.Optional[i].Value, new { placeholder = Model.Optional[i].DisplayName })
                            <label>@Model.Optional[i].DisplayName</label>
                        </div>
                        @Html.Hidden("Optional[" + i + "].ClaimType", Model.Optional[i].ClaimType)
                        @Html.Hidden("Optional[" + i + "].DisplayName", Model.Optional[i].DisplayName)
                    }

                    <input type="submit" value="Opslaan" />
                </form>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-5-12">
            <div class="box">
                <hgroup>
                    <h3>Social login</h3>
                </hgroup>
                <div class="sociallogins">
                    @foreach (var loginProvider in Model.SocialLogins)
                    {
                        <form class="sociallogins" asp-action="@(string.IsNullOrEmpty(loginProvider.Value) ? "LinkExternalLogin" : "RemoveExternalLogin")" method="post">
                            @Html.Hidden("ProviderKey", loginProvider.Value)
                            <div class="socialButton">
                                <button type="submit" name="LoginProvider" value="@(loginProvider.Key.Key)" style="background-color: @(string.IsNullOrEmpty(loginProvider.Value) ? "#ddd" : @loginProvider.Key.HexColor)">
                                    <i class="fab @loginProvider.Key.FontAwesomeIconClass"></i>
                                </button>
                                <span>@loginProvider.Key.DisplayName</span><br />
                                <span>@(string.IsNullOrEmpty(loginProvider.Value) ? "koppelen" : "loskoppelen")</span>
                            </div>
                        </form>
                    }
                </div>
            </div>
            <div class="box">
                <hgroup>
                    <h3>Intern account</h3>
                </hgroup>
                <form asp-action="SaveLogin" method="post" class="small">
                    <p>Gebruikersnaam/ emailadres</p>
                    <div class="inputbox withicon">
                        <i class="far fa-user"></i>
                        <input asp-for="Username" placeholder="Gebruikersnaam" />
                        <label>Gebruikersnaam</label>
                    </div>

                    <div class="inputbox withicon">
                        <i class="fas fa-at"></i>
                        <input asp-for="Email" placeholder="Emailadres" />
                        <label>Emailadres <span>aanpassen email nog niet mogelijk</span></label>
                    </div>

                    @if (Model.HasPassword)
                    {
                        <p>Wachtwoord aanpassen</p>
                        <div class="inputbox withicon">
                            <i class="fas fa-lock"></i>
                            <input asp-for="CurrentPassword" placeholder="Huidig wachtwoord" />
                            <label>Huidig wachtwoord</label>
                        </div>

                        <div class="inputbox withicon">
                            <i class="fas fa-lock"></i>
                            <input asp-for="Password" placeholder="Wachtwoord" />
                            <label>Wachtwoord</label>
                        </div>

                        <div class="inputbox withicon">
                            <i class="fas fa-lock"></i>
                            <input asp-for="ConfirmPassword" placeholder="Herhaal wachtwoord" />
                            <label>Herhaal wachtwoord</label>
                        </div>
                    }

                    <input type="submit" value="Opslaan" />
                </form>
            </div>
        </div>
    </div>
</div>